<ul id="pad">
        <li><label>Table number<input type="number" class="form-control"/></label></li>
        <li>
        <table class="table">
          <thead>
            <tr>
              <th id="type" style="width: 25%">Type</th>
              <th id="name" style="width: 40%">Name</th>
              <th id="price" style="width: 25%; text-align: center">Price(won)</th>
              <th id="chosen" style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="type">고기/전류</th>
              <th class="name">삼겹살</th>
              <th class="price">8000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">부추전</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">김치전</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">스팸김치</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type">식사류</th>
              <th class="name">빨간 고기 라면</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">하얀 고기 라면</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">소떡소떡</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">주먹밥</th>
              <th class="price">3000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type">베이스</th>
              <th class="name">벚꽃 스톤</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">썸머 스톤</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">요구르트 스톤</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">청포도 스톤</th>
              <th class="price">4000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type">음료</th>
              <th class="name">콜라/사이다</th>
              <th class="price">1000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
            <tr>
              <th class="type"></th>
              <th class="name">물</th>
              <th class="price">1000</th>
              <th class="chosen"><input type="checkbox" class="form-control"></th>
            </tr>
          </tbody>
        </table>
        </li>
        <li><label>결제 완료<input type="checkbox" class="form-control"/></li>
        <li><label>서빙 완료<input type="checkbox" class="form-control"/></li>
      </ul>